* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header {
    /* it always stays in the same place even if the page is scrolled */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* % - specifies a padding in % of the width of the containing element */
    padding: 20px 10%;
    background: transparent;
    display: flex;
    /* % the .header container has two flex items: the .logo (name) element and the .navbar (links) element. The .logo element is the first flex item, so it is placed on the left side of the container. The .navbar element is the second flex item, so it is placed on the right side of the container. */
    justify-content: space-between;
    align-items: center;

}
.logo {
    font-size: 25px;
    color: #280e3b;
    text-decoration: none;
    font-weight: 700;
}
/* % remember that "a" is just the links! */
.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    /* % - margin left prevents the links from being squished together side by side */
    margin-left: 35px;
     /* How fast the animation will be for showing link color*/
    transition: .5;
}

.navbar a:hover {
    color: #280e3b;
}
.home {
    height: 100vh;
    /* Purple for first 65%, then white */
    background: linear-gradient(-90deg, #D3B7D8 65%, #ffff 35%);
    display: flex;
    align-items: center;
    /* % - setting the left and right padding of the element to be 10% of the element's width, while the top and bottom padding are set to 0. Helps make sure text isn't squised all to one side */
    justify-content: space-between;
    padding: 0 10%;
}
.home-image {
    width: 500px;
    height: 500px;
    background: #D3B7D8;
    border-radius: 50%;
    border: 25px solid #fff;
    /* Adjust positioning of the elements inside home image div (our pic) */
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    max-width: 600px;
    color: #280E3B;
    text-align: right;
}

.home-content h1 {
    font-size: 45px;
    line-height: 1.5;
    color: #280E3B
}
.home-content h2 {
    line-height: 1.5;
    font-size: 20px;
    color: #280E3B;
    -webkit-text-stroke: .5px #fff;
}

.home-content p  {
    font-size: 16px;
    margin-top: 20px;
}

.social-media a {
    /* display:inline-block does not add a line-break after the element. So, the element can sit next to other elements. */
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: #00abf0;
    /* Now center it! */
    text-decoration: none;
    justify-content: center;
    align-items: center;
    /* Now give the icons space between */
    margin-left: 12px;
}

/* Space the content above and below the social media icons  */
.social-media {
    margin: 25px 0 40px;
}

.btn {
    padding: 12px 35px;
    background: #A13E97;
    border-radius: 40px;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    /* Offset x and y 0 and 0 indicates that the shadow will be places behind element */
    box-shadow: 0 0 10px #A13E97;
    transition: .5s;
}

.btn:hover {
    box-shadow: none;
}

.home-image img {
    position: relative;
    max-width: 380px;
    border-radius: 50%;
}